* {
  margin: 0;
  padding: 0;
}

.kontainer {
  display: flex;
}

.formlogin {
  width: 60%;
  height: 455px;
}

.formsignin {
  background-color: #ef1a93;
  width: 50%;
}

.formlogin h1 {
  text-align: center;
  margin-top: 50px;
  font-family: "Playwrite CZ", cursive;
  font-weight: 500;
  font-size: 40px;
  font-weight: bold;
}

/* Alternatif Login Style */
.alternatifLogin {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.kotak1,
.kotak2,
.kotak3 {
  width: 35px;
  height: 35px;
  border: 1px solid rgba(173, 173, 173, 0);
  box-shadow: 0px 0px 4px rgb(206, 206, 206);
  border-radius: 10px;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s ease-in;
}

/* alternatif lofin logo */
.gg-facebook {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs, 1));
  width: 20px;
  height: 20px;
  transition: 0.5s ease-in;
}
.gg-facebook::after,
.gg-facebook::before {
  content: "";
  display: block;
  position: absolute;
  box-sizing: border-box;
}
.gg-facebook::before {
  width: 8px;
  height: 20px;
  border-left: 4px solid;
  border-top: 4px solid;
  border-top-left-radius: 5px;
  left: 6px;
}
.gg-facebook::after {
  width: 10px;
  height: 4px;
  background: currentColor;
  top: 7px;
  left: 4px;
  transform: skew(-5deg);
}

.kotak1:hover .gg-facebook {
  color: rgb(62, 62, 216);
}

.kotak1:hover {
  box-shadow: 0px 0px 6px rgb(62, 62, 216);
}

.gg-google,
.gg-google::before {
  box-sizing: border-box;
  display: block;
}
.gg-google {
  position: relative;
  transform: scale(var(--ggs, 1));
  width: 20px;
  height: 20px;
  border: 4px solid;
  border-right-color: transparent;
  border-radius: 22px;
  transition: 0.5s ease-in;
}
.gg-google::before {
  content: "";
  position: absolute;
  border-top: 4px solid;
  border-right: 4px solid;
  border-bottom: 4px solid;
  border-radius: 0 0 10px 0;
  width: 10px;
  height: 12px;
  right: -4px;
  bottom: -4px;
}

.kotak2:hover .gg-google {
  color: rgb(212, 51, 51);
}

.kotak2:hover {
  box-shadow: 0 0 5px rgb(212, 51, 51);
}

.gg-twitter {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs, 1));
  width: 20px;
  height: 20px;
  transition: 0.5s ease-in;
}
.gg-twitter::after,
.gg-twitter::before {
  content: "";
  display: block;
  position: absolute;
  box-sizing: border-box;
  left: 4px;
}
.gg-twitter::before {
  width: 9px;
  height: 14px;
  border-left: 4px solid;
  border-bottom: 4px solid;
  border-bottom-left-radius: 6px;
  background: linear-gradient(to left, currentColor 12px, transparent 0)
    no-repeat center 2px/10px 4px;
  top: 4px;
}
.gg-twitter::after {
  width: 4px;
  height: 4px;
  background: currentColor;
  border-radius: 20px;
  top: 2px;
  box-shadow: 7px 4px 0, 7px 12px 0;
}

.kotak3:hover {
  box-shadow: 0 0 6px rgb(49, 150, 245);
}

.kotak3:hover .gg-twitter {
  color: rgb(49, 150, 245);
}

.gg-facebook,
.gg-google,
.gg-twitter,
a {
  color: #555555;
}

/* text */
p {
  text-align: center;
  margin: 20px 0 0 0;
  color: #555555;
  font-size: 12px;
}

/* form */
form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  width: 250px;
  height: 30px;
  background-color: #e6e6e6;
  border: none;
  border-radius: 8px;
  align-items: 30px;
  margin: 10px 0;
  outline: none;
  font-size: 10px;
  color: gray;
  padding-left: 10px;
}

input::placeholder {
  font-size: 10px;
  color: gray;
}

/* button */
.formlogin button {
  width: 100px;
  height: 30px;
  background-color: #e64fa4;
  font-family: sans-serif;
  font-size: 10px;
  color: white;
  display: block;
  margin: 10px auto;
  border: none;
  border-radius: 8px;
  transition: 1s ease-in;
}

.formlogin button:hover {
  font-weight: bold;
  background-color: #ef1a93;
  box-sizing: border-box;
  box-shadow: 0 0 10px #e64fa4;
}

/* halaman Sign in */
.formsignin h1 {
  color: white;
  text-align: center;
  margin: 150px 0 0 0;
  font-weight: bolder;
  font-family: sans-serif;
  font-size: 40px;
}

.formsignin p {
  color: white;
  font-family: sans-serif;
  font-size: 14px;
  line-height: 20px;
}

/* button sigup*/
.formsignin button {
  width: 100px;
  height: 30px;
  background-color: #ef1a93;
  font-family: sans-serif;
  font-size: 10px;
  color: white;
  display: block;
  margin: 30px auto;
  border: 1px solid white;
  border-radius: 8px;
  transition: 1s ease-in;
}

.formsignin button a {
  text-decoration: none;
  font-size: 10px;
  color: white;
}

/* file index2.html */
.newkontainer {
  display: flex;
}

.kanan {
  width: 60%;
  height: 455px;
}

.kiri {
  background-color: rgb(255, 118, 68);
  width: 50%;
}

.kanan h1 {
  text-align: center;
  margin-top: 50px;
  font-family: sans-serif;
  font-weight: 700;
  font-size: 40px;
  font-weight: bold;
}

/* button */
.kanan button {
  width: 100px;
  height: 30px;
  background-color: rgb(255, 118, 68);
  font-family: sans-serif;
  font-size: 10px;
  color: white;
  display: block;
  margin: 10px auto;
  border: none;
  border-radius: 8px;
  transition: 1s ease-in;
}

.kanan button:hover {
  font-weight: bold;
  background-color: rgb(255, 92, 33);
  box-sizing: border-box;
  box-shadow: 0 0 10px rgb(255, 153, 116);
}

/* halaman kiri */
.kiri h1 {
  color: white;
  text-align: center;
  margin: 150px 0 0 0;
  font-weight: bolder;
  font-family: sans-serif;
  font-size: 40px;
}

.kiri p {
  color: white;
  font-family: sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 100;
}

/* button sigup*/
.kiri button {
  width: 100px;
  height: 30px;
  background-color: rgb(255, 118, 68);
  font-family: sans-serif;
  font-size: 10px;
  color: white;
  display: block;
  margin: 30px auto;
  border: 1px solid white;
  border-radius: 8px;
  transition: 1s ease-in;
}

.kiri button a {
  text-decoration: none;
  font-size: 10px;
  color: white;
}
